body{
    background-color:#f3eed2;
    color:rgb(7, 9, 0);
}

hr{
    border-style: none;
    background-color: #f3eed2;
    border-top-style:dotted;
    border-width: 5px;
    width: 10%;
    border-color: grey;
}
h1,h3{
    color: #66bfbf;
}
h3{
    background-color: rgb(248, 214, 78);
}
h1:hover{
    background-color:#f3eed2 ;
    color:rgb(248, 214, 78) ;
}
